<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.schoolshop.getway.mapper.Category3Mapper">
    <select id="selectAll" resultType="cn.tedu.schoolshop.vo.Category3Vo">
           select id,name,category2_id
           from category3
           ORDER BY id
    </select>
    <select id="selectByCategory2Id" resultType="cn.tedu.schoolshop.vo.Category3Vo">
           select id,name,category2_id
           from category3
           where  category2_id=#{category2Id}
           ORDER BY id
    </select>
</mapper>
