<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.schoolshop.getway.mapper.Category2Mapper">
    <select id="selectAll" resultType="cn.tedu.schoolshop.vo.Category2Vo">
           select id,name,category1_id
           from category2
           ORDER BY id
    </select>
    <select id="selectByCategory1Id" resultType="cn.tedu.schoolshop.vo.Category2Vo">
           select id,name,category1_id
           from category2
           where category1_id=#{category1Id}
           ORDER BY id
    </select>
</mapper>
