<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.schoolshop.getway.mapper.SearchMsgMapper">
    <select id="selectHotSearch" resultType="cn.tedu.schoolshop.vo.Search.SearchMsgVo">
        SELECT msg
        FROM search_msg
        ORDER BY search_count DESC
        LIMIT 0,10
    </select>
</mapper>
