<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.schoolshop.api.user.mapper.UserCartsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.schoolshop.model.UserCarts">
        <id column="id" property="id"/>
        <result column="number" property="number"/>
        <result column="state" property="state"/>
        <result column="user_id" property="userId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <resultMap id="CartDetailResultMap" type="cn.tedu.schoolshop.vo.CartDetailVo">
        <id column="id" property="id"/>
        <result column="number" property="number"/>
        <result column="create_time" property="createTime"/>
        <association property="good" javaType="cn.tedu.schoolshop.vo.goods.GoodsShowVo">
            <id column="goodsId" property="id"/>
            <result column="goods_name" property="goodsName"/>
            <result column="goods_price" property="goodsPrice"/>
            <result column="goods_state" property="goodsState"/>
            <result column="goods_describe" property="goodsDescribe"/>
            <result column="goods_img_path" property="goodsImgPath"/>
            <result column="star_level" property="starLevel"/>
            <result column="merchant_id" property="merchantId"/>
        </association>
    </resultMap>
    <select id="selectHeaderCartByUserId" parameterType="java.lang.Integer"
            resultType="cn.tedu.schoolshop.vo.HeaderUserCartVo">
    select
    c.id,c.number,g.goods_name,g.goods_price,g.goods_img_path
    from user_carts c join goods g
    on c.goods_id=g.id
    where c.user_id=#{id} and c.state=1
    order by c.create_time desc
    limit 0,3
    </select>
    <select id="findHasByUserIdAndGoodId" parameterType="cn.tedu.schoolshop.model.UserCarts" resultMap="BaseResultMap">
        SELECT id
        FROM user_carts
        WHERE user_id=#{userId}
        AND goods_id=${goodsId}
        AND state=1
    </select>
    <select id="findUserId" parameterType="cn.tedu.schoolshop.model.UserCarts" resultMap="CartDetailResultMap">
        SELECT g.id goodsId,g.goods_name,g.goods_price,g.goods_describe,
        g.goods_img_path,g.goods_state,g.star_level,g.merchant_id,
        c.id,c.number,c.create_time
        FROM user_carts c
        LEFT JOIN goods g
        on c.goods_id = g.id
        WHERE c.user_id=#{userId}
        <if test="id!=null and id!=0">
            AND c.id=#{id}
        </if>
        <if test="state!=null and id!=0">
            AND c.state=#{state}
        </if>
        <if test="state==null">
            AND c.state=1
        </if>
        order by c.create_time DESC
    </select>
</mapper>
