<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.schoolshop.api.merchant.mapper.GoodsCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.schoolshop.model.GoodsComment">
        <id column="id" property="id" />
        <result column="level" property="level" />
        <result column="comment" property="comment" />
        <result column="approval" property="approval" />
        <result column="new_to_old" property="newToOld" />
        <result column="state" property="state" />
        <result column="goods_id" property="goodsId" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
