<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.schoolshop.getway.mapper.HeaderClassifyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.schoolshop.model.HeaderClassify">
        <id column="classify_id" property="classifyId" />
        <result column="classify_name" property="classifyName" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
