<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.schoolshop.getway.mapper.HomeSlideMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.schoolshop.model.HomeSlide">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="imgPath" property="imgPath" />
        <result column="title_top" property="titleTop" />
        <result column="bottom" property="bottom" />
        <result column="btn_value" property="btnValue" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
