<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.schoolshop.api.user.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.schoolshop.api.user.model.Order">
        <id column="id" property="id" />
        <result column="number" property="number" />
        <result column="state" property="state" />
        <result column="user_receive_address" property="userReceiveAddress" />
        <result column="user_warn" property="userWarn" />
        <result column="user_id" property="userId" />
        <result column="goods_id" property="goodsId" />
        <result column="merchant_id" property="merchantId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
