<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.schoolshop.api.user.mapper.SearchMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.schoolshop.model.SearchMsg">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="msg" property="msg" />
        <result column="search_count" property="searchCount" />
        <result column="male_search" property="maleSearch" />
        <result column="female_search" property="femaleSearch" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
